@media screen and (min-width: 601px) {
  span.grosir {
    margin-top: 10px;
    font-size: 20px;
  }

  h1.grosir {
    margin-top: 2px;
    font-size: 40px;
  }

  h2.grosir {
    margin-top: 2%;
    font-size: 1.5rem;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .lingkaran.grosir {
    height: 2rem;
    width: 2rem;
    margin: auto;
    background-color: rgba(7, 177, 7, 0.363);
    border-radius: 50%;
    display: inline-block;
    grid-area: header;
  }

  span.grosir {
    margin-top: 10px;
    font-size: 12px;
  }

  h1.grosir {
    margin-top: 2px;
    font-size: 20px;
  }

  h2.grosir {
    margin-top: 5%;
    font-size: 1rem;
  }

  .component.grosir {
    padding: 7%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    background-color: rgba(7, 177, 7, 0.363);
    border-radius: 15px;
  }

  button.grosir {
    height: 40px;
    width: 40%;
    margin: 1%;
    border-radius: 10px;
    transition-duration: 0.4s;
  }

  .cancelButton.grosir {
    color: gray;
    font-size: 12px;
  }

  .submitButton.grosir {
    color: #4caf50;
    background-color: white;
    font-size: 12px;
    border: 2px solid #4caf50;
  }
}
