.lingkaran.grosir {
  height: 4rem;
  width: 4rem;
  margin: auto;
  background-color: rgba(7, 177, 7, 0.363);
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  grid-area: header;
}

.title.grosir {
  padding: 5%;
  display: grid;
  grid-gap: 10px;
  grid-template-areas: "header main";
  grid-template-columns: 1fr 8fr;
}

.heading.grosir {
  vertical-align: auto;
  margin: auto;
  margin-left: 1%;
  grid-area: main;
}

span.grosir {
  margin-top: 10px;
  font-size: 20px;
}

h1.grosir {
  margin-top: 2px;
  font-size: 50px;
  margin-bottom: 0;
}

.garis.grosir {
  border: 1px solid black;
}

.component.grosir {
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 3%;
  margin-left: 20%;
  margin-right: 20%;
  background-color: rgba(7, 177, 7, 0.363);
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
}

h2.grosir {
  margin-top: 5%;
  font-size: 1.5rem;
}

.textInput.grosir {
  width: stretch;
  height: 30px;
  padding: 0.5%;
}

.textAreaInput.grosir {
  padding: 0.5%;
  width: stretch;
  height: 100px;
  resize: none;
}

button.grosir {
  height: 50px;
  width: 200px;
  margin: 1%;
  border-radius: 10px;
  transition-duration: 0.4s;
}

.formButton.grosir {
  height: 50px;
  width: 200px;
  margin: 0;
  border-radius: 0px;
  border: 1px solid;
}

.cancelButton.grosir {
  color: gray;
  font-size: 20px;
}

.submitButton.grosir {
  color: #4caf50;
  background-color: white;
  font-size: 20px;
  border: 2px solid #4caf50;
}

.cancelButton.grosir:hover {
  background-color: gray; /* Green */
  color: white;
}

.submitButton.grosir:hover {
  background-color: #4caf50; /* Green */
  color: white;
}

.footer.grosir {
  text-align: center;
  margin: auto;
  margin-top: 5%;
  grid-template-areas: "button1 button2";
  grid-template-columns: 1fr 1fr;
}
