.lingkaran.harvest {
  height: 4rem;
  width: 4rem;
  margin: auto;
  background-color: rgba(7, 177, 7, 0.363);
  border-radius: 50%;
  display: inline-block;
  grid-area: header;
}

.title.harvest {
  padding: 5%;
  display: grid;
  grid-gap: 10px;
  grid-template-areas: "header main";
  grid-template-columns: 1fr 8fr;
}

.heading.harvest {
  vertical-align: auto;
  margin: auto;
  margin-left: 1%;
  grid-area: main;
}

span.harvest {
  margin-top: 10px;
  font-size: 20px;
}

h1.harvest {
  margin-top: 2px;
  font-size: 50px;
  margin-bottom: 0;
}

.garis.harvest {
  border: 1px solid black;
}

.component.harvest {
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 3%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: rgba(7, 177, 7, 0.363);
  border-radius: 15px;
}

h2.harvest {
  margin-top: 5%;
  font-size: 1.5rem;
}

.textInput.harvest {
  width: stretch;
  height: 30px;
  padding: 0.5%;
}

.textAreaInput.harvest {
  padding: 0.5%;
  width: stretch;
  height: 100px;
  resize: none;
}

button.harvest {
  height: 80px;
  width: 200px;
  margin: 1%;
  border-radius: 10px;
  transition-duration: 0.4s;
}

.formButton.harvest {
  height: 50px;
  width: 200px;
  margin: 0;
  border-radius: 0px;
  border: 1px solid;
}

.cancelButton.harvest {
  color: gray;
  font-size: 30px;
}

.submitButton.harvest {
  color: #4caf50;
  background-color: white;
  font-size: 30px;
  border: 2px solid #4caf50;
}

.cancelButton.harvest:hover {
  background-color: gray; /* Green */
  color: white;
}

.submitButton.harvest:hover {
  background-color: #4caf50; /* Green */
  color: white;
}

.footer.harvest {
  text-align: center;
  margin-bottom: 5%;
  padding: 5%;
}
