.lingkaran.register {
  height: 4rem;
  width: 4rem;
  margin: auto;
  background-color: rgba(10, 7, 177, 0.363);
  border-radius: 50%;
  display: inline-block;
  grid-area: header;
}

.title.register {
  padding: 5%;
  display: grid;
  grid-gap: 10px;
  grid-template-areas: "header main";
  grid-template-columns: 1fr 8fr;
}

.heading.register {
  vertical-align: auto;
  margin: auto;
  margin-left: 1%;
  grid-area: main;
}

span.register {
  margin-top: 10px;
  font-size: 20px;
}

h1.register {
  margin-top: 2px;
  font-size: 50px;
  margin-bottom: 0;
}

.garis.register {
  border: 1px solid black;
}

.component.register {
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 3%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: rgba(10, 7, 177, 0.363);
  border-radius: 15px;
}

h2.register {
  margin-top: 5%;
  font-size: 1.5rem;
}

.textInput.register {
  width: stretch;
  height: 30px;
  padding: 0.5%;
}

.textAreaInput.register {
  padding: 0.5%;
  width: stretch;
  height: 100px;
  resize: none;
}

button.register {
  height: 80px;
  width: 200px;
  margin: 1%;
  border-radius: 10px;
  transition-duration: 0.4s;
}

.formButton.register {
  height: 50px;
  width: 200px;
  margin: 0;
  border-radius: 0px;
  border: 1px solid;
}

.cancelButton.register {
  color: gray;
  font-size: 30px;
}

.submitButton.register {
  color: rgba(10, 7, 177, 0.363);
  background-color: white;
  font-size: 30px;
  border: 2px solid rgba(10, 7, 177, 0.363);
}

.cancelButton.register:hover {
  background-color: gray; /* Green */
  color: white;
}

.submitButton.register:hover {
  background-color: rgba(10, 7, 177, 0.363); /* Green */
  color: white;
}

.footer.register {
  text-align: center;
  margin-bottom: 5%;
  padding: 5%;
}
